<div class="container my-5">
    <h1 class="mb-3">Edit Users</h1>

        <div class="row">
            <div class="col-6">
                <form #form="ngForm"  (ngSubmit)="updateUser()">

                   
                    <div>
                        <label for="id" class="form-label">ID</label>
                        <input id="id" name="id" type="text" class="form-control "   disabled="true" [(ngModel)]="userDetails.id"  >
                      </div>

                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input id="name" name="name" type="text" class="form-control"  [(ngModel)]="userDetails.name"   >
                      </div>
                     
            
            
                      <button type="submit" class="btn btn-primary mx-2" >Submit</button>
                      <button type="button" class="btn btn-danger " (click)="deleteUser(userDetails.id)">Delete User</button>

                </form>
            </div>
        </div>
    
</div>

